/*
    Обнуление стандартных стилей
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

img {
    vertical-align: top;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-size: inherit;
    font-weight: 400;
}


/* 
    Стили страницы
*/

header {
    background: url(../img/bg01.png);
    width: 100%;
    height: 768px;
}

.container {
    width: 1212px;
    margin: 0 auto;
}

.nav {
    background: url(../img/rectangle01.png);
    width: 100%;
    height: 50px;
}

.nav__link {
    margin-right: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.nav__link:hover {
    border-bottom: 2px solid white;
}

.nav__item {
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.nav__logo {
    color: white;
    margin-right: 1039px;
}